#total_active_courses {
    color: #2bf02b;
}

#total_students {
    color: var(--btn_g_right);
}

#top_title_and_button {
    display: flex;
    justify-content: space-between;
}

#add_new_course_btn {
    background: linear-gradient(135deg, var(--btn_g_left), var(--btn_g_right));
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: var(--white_text);
    font-size: 19px;
    box-shadow: 0 10px 25px var(--card_shadow);
    transition: 0.3s;
    border: none;
    cursor: pointer;
    text-wrap: inherit;
}

#add_new_course_btn:hover {
    transform: scale(0.99);
    box-shadow: 0 0 10px 1px var(--btn_g_right);
}

#add_new_course_btn:active {
    transform: scale(1.01);
}

.course_and_domain_management h3 {
    text-align: left;
    padding: 10px;
    color: var(--white_text);
}

.course_and_domain_management {
    background-color: var(--card_bg_color);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--card_border_color);
    box-shadow: 0 10px 25px var(--card_shadow);
    transition: .2s;
    height: max-content
}

.course_and_domain_management:hover {
    border: 1px solid var(--card_hover_border_color);
}

#add_course_form,
#edit_course_form {
    margin-top: 20px;
    background-color: var(--card_bg_color);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--card_border_color);
    box-shadow: 0 10px 25px var(--card_shadow);
    margin-bottom: 20px;
    transition: .1s;
    /* display: none; */
}

#add_course_form form,
#edit_course_form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    justify-content: center;
}

.hidden {
    display: none !important;
}

#add_course_form,
#edit_course_form {
    animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#add_course_form input,
#edit_course_form input {
    width: calc(50% - 10px);

    background-color: var(--input_bg_color);
    border: 1px solid var(--input_border_color);
    padding: 12px 15px;
    border-radius: 12px;
    color: var(--white_text);
    outline: none;
    transition: 0.5s;
    font-size: 17px;
    box-sizing: border-box;
    margin: 0;
    cursor: pointer;
}

#add_course_form input:focus,
#edit_course_form input:focus {
    border-color: var(--btn_g_right);
}

#add_course_btn,
#update_course_btn {
    width: 98%;
    background: linear-gradient(135deg, var(--btn_g_left), var(--btn_g_right));
    padding: 12px;
    border-radius: 15px;
    color: var(--white_text);
    font-size: 19px;
    font-weight: 600;
    box-shadow: 0 10px 25px var(--card_shadow);
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

#add_course_btn:hover,
#update_course_btn:hover {
    transform: scale(0.99);
    box-shadow: 0 0 10px 1px var(--btn_g_right);
}

#add_course_btn:active,
#update_course_btn:active {
    transform: scale(1.01);
}

@media (max-width: 1024px) {

    #add_course_form input,
    #edit_course_form input {
        width: 100%;
    }
}


.all_courses_cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    padding: 10px
}

.course_card {
    margin-top: 20px;
    background-color: var(--navbar_bg_color);
    padding: 20px;
    border: 1px solid var(--gray_text);
    border-radius: 15px;
    margin-bottom: 0px;
    box-shadow: 0 10px 25px var(--card_shadow);

    flex: 1 1 300px;
    /* max-width: calc(33.333% - 14px); */
    max-width: 450px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course_card h3 {
    padding-left: 0;
}

.course_card h4 {
    color: var(--gray_text);
    font-weight: 500;
}

.course_info {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.course_info h3 {
    padding-left: 0;
}

.duration_subcard,
.fees_subcard {
    background-color: var(--card_hover_border_color);
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 10px 25px var(--card_shadow);
    border: 1px solid var(--gray_text);
    margin-bottom: 20px;
    width: 45%;
}

#d_span,
#f_span {
    color: var(--gray_text);
}

.action_div {
    display: flex;
    gap: 20px;
    transition: .3s;
    cursor: pointer;
    justify-content: space-between;
}

.edit-btn,
.delete-btn {
    /* background-color: var(--btn_g_left); */
    padding: 12px 12px;
    border-radius: 15px;
    color: var(--white_text);
    font-size: 15px;
    box-shadow: 0 10px 25px var(--card_shadow);
    transition: 0.3s;
    border: none;
    cursor: pointer;
    width: 45%;
}

.edit-btn {
    background-color: var(--btn_g_left);
}

.delete-btn {
    background-color: rgb(251, 26, 26);
}

.edit-btn:hover,
.delete-btn:hover {
    transform: scale(0.97);
}

.edit-btn:active,
.delete-btn:active {
    transform: scale(1.02);
}

@media (max-width: 768px) {

    #top_title_and_button {
        flex-direction: column;
        gap: 15px;
        align-items: flex-start;
    }

    .course_card {
        max-width: 100%;
        flex: 1 1 100%;
    }

    #add_new_course_btn {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

}