html, body {
    height: 100vh !important;
    overflow: hidden !important;
    position: fixed !important;
    width: 100% !important;
}

.student_directory {
    background-color: var(--card_bg_color);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--card_border_color);
    box-shadow: 0 10px 25px var(--card_shadow);
    transition: .2s;

}

.student_directory:hover {
    border: 1px solid var(--card_hover_border_color);
}

.student_directory h3 {
    text-align: left;
    padding: 10px;
    color: var(--white_text);
}

.student_directory table {
    width: 100%;
    border-collapse: collapse;
}

.student_directory th,
.student_directory td {
    color: var(--white_text);
    padding: 15px 10px;
    border-bottom: 1px solid var(--card_border_color);
    text-align: left;
    text-overflow: ellipsis;
    cursor: default;
}

.student_directory th {
    color: var(--gray_text);
}

.student_directory tbody tr:hover {
    transition: .2s;
    background-color: var(--navbar_bg_color);
}

.enable_scroll {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.student_directory_table{
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.completed_students h1 {
    color: var(--btn_g_right);
}

.this_month h1 {
    color: var(--btn_g_left);
}

#top_title_and_button {
    display: flex;
    justify-content: space-between;

}

#add_new_student_btn {
    background: linear-gradient(135deg, var(--btn_g_left), var(--btn_g_right));
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: var(--white_text);
    font-size: 19px;
    box-shadow: 0 10px 25px var(--card_shadow);
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

#add_new_student_btn:hover {
    transform: scale(0.98);
    box-shadow: 0 0 10px 1px var(--btn_g_right);
}

#add_new_student_btn:active {
    transform: scale(1.01);
}

.action_div {
    display: flex;
    gap: 20px;
    transition: .3s;
    cursor: pointer;
    align-items:center;
}

.action_div i {
    padding: 8px; 
    border-radius: 50px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.action_div i:hover {
    transform: scale(1.1); 
    background-color: rgba(0, 0, 0, 0.5); 
}

.action_div i:active {
    transform: scale(0.9); 
}

.edit {
    color: var(--btn_g_left);
}

.delete {
    color: red;
}

.edit_form {

    margin-top: 20px;
    background-color: var(--card_bg_color);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--card_border_color);
    box-shadow: 0 10px 25px var(--card_shadow);
    margin-bottom: 20px;
    transition: .1s;
}

.edit_form form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.edit_form input,
.edit_form select {
    width: calc(50% - 10px);

    background-color: var(--input_bg_color);
    border: 1px solid var(--input_border_color);
    padding: 12px 15px;
    border-radius: 12px;
    color: var(--white_text);
    outline: none;
    transition: 0.5s;
    font-size: 17px;
    box-sizing: border-box;
    margin: 0;
}



.edit_form input:focus,
.edit_form select:focus {
    border-color: var(--btn_g_right);
}

#update_btn {
    width: 100%;
    background: linear-gradient(135deg, var(--btn_g_left), var(--btn_g_right));
    padding: 12px;
    border-radius: 15px;
    color: var(--white_text);
    font-size: 19px;
    font-weight: 600;
    box-shadow: 0 10px 25px var(--card_shadow);
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

#update_btn:hover {
    transform: scale(0.99);
    box-shadow: 0 0 10px 1px var(--btn_g_right);
}

#update_btn:active {
    transform: scale(1.01);
}

@media (max-width: 1024px) {

	#add_new_student_btn{
		font-size:16px;
	}
    .edit_form input,
    .edit_form select {
        width: 100%;
    }
}

.edit_form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 35px;
}

.edit_form select option {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.edit_form {
    display: none;
}