.student_directory {
    background-color: var(--card_bg_color);
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--card_border_color);
    box-shadow: 0 10px 25px var(--card_shadow);
    transition: .2s;

}

.student_directory:hover {
    border: 1px solid var(--card_hover_border_color);
}

.student_directory h3 {
    text-align: left;
    padding: 10px;
    color: var(--white_text);
}

.student_directory table {
    width: 100%;
    border-collapse: collapse;
}

.student_directory th,
.student_directory td {
    color: var(--white_text);
    padding: 15px 10px;
    border-bottom: 1px solid var(--card_border_color);
    text-align: left;
    text-overflow: ellipsis;
    cursor: default;
}

.student_directory th {
    color: var(--gray_text);
}

.student_directory tbody tr:hover {
    transition: .2s;
    background-color: var(--navbar_bg_color);
}

.enable_scroll {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.completed_students h1 {
    color: var(--btn_g_right);
}

.this_month h1 {
    color: var(--btn_g_left);
}

#top_title_and_button {
    display: flex;
    justify-content: space-between;

}

#add_new_student {
    background: linear-gradient(135deg, var(--btn_g_left), var(--btn_g_right));
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: var(--white_text);
    font-size: 19px;
    box-shadow: 0 10px 25px var(--card_shadow);
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

#add_new_student:hover {
    transform: scale(0.99);
    box-shadow: 0 0 10px 1px var(--btn_g_right);
}

#add_new_student:active {
    transform: scale(1.01);
}

#action_div {
    display: flex;
    gap: 20px;
    transition: .3s;
    cursor: pointer;
}

#action_div i:hover {
    transform: scale(0.97);
}

#action_div i:active {
    transform: scale(1.09);
}

.edit {
    color: var(--btn_g_left);
}

.delete {
    color: red;
}