.assignment_main_content{
	margin-left: 245px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
	padding:20px;
    width: calc(100vw - 245px);
    min-height: calc(100vh - 90px);
}

#assignment_design_card{
	background-color: var(--card_bg_color);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--card_border_color);
    box-shadow: 0 10px 25px var(--card_shadow);
    display: flex;
    flex: 1;
    flex-direction: column;
    transition: .1s;
    max-height:max-content;
}

#assignment_design_card:hover {
    border: 1px solid var(--card_hover_border_color);
}

.assignment_submit_btn{
	 padding: 18px;
    border-radius: 15px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--white_text);
    background-color: var(--btn_g_left);
    transition: .1s;
    box-shadow: 0 10px 25px var(--card_shadow);
    cursor: pointer;
    width:100%;
}

.assignment_drop_area{
	text-align: center;
    background-color: var(--navbar_bg_color);
    padding: 40px;
    border: 2.5px dashed var(--gray_text);
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px var(--card_shadow);
    cursor: pointer;
    transition: .2s;
}

.assignment_drop_area:hover {
    border: 2px solid var(--gray_text);
    border-radius: 20px;
}

#fileName {
    word-wrap: break-word;       /* Older browsers */
    overflow-wrap: break-word;    /* Modern browsers */
    white-space: normal;          /* Ensures it doesn't stay on one line */
    max-width: 100%;              /* Limits width to the parent card */
    display: block;               /* Ensures padding/margins work right */
    text-align: center;
    padding: 0 10px;              /* Keeps text away from the edges */
}

.assignment_drop_area p {
    color: var(--white_text);
    font-size: 19px;
}

.assignment_drop_area span {
    color: var(--gray_text);
}

#due_subcard{
	background-color: var(--navbar_bg_color);
    padding: 20px;
    border: 1px solid var(--gray_text);
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px var(--card_shadow);
}

#due_subcard h3 {
    color: var(--white_text);
    font-size: 16px;
    letter-spacing: .5px;
}

#due_subcard span {
    color: var(--white_text);
}

@media (max-width : 768px){
	.assignment_main_content {
        margin-left: 0 !important; 
        width: 100% !important;  
        padding: 15px;           
    }
}
