.main_domain_content{
	margin-left: 245px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
	padding:20px;
    width: calc(100vw - 245px);
    min-height: calc(100vh - 90px);
}

#domain_design_card{
	background-color: var(--card_bg_color);
    width:100% !important;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid var(--card_border_color);
    box-shadow: 0 10px 25px var(--card_shadow);
    display: flex;
    flex-direction: column;
    transition: .1s;
}

#domain_design_card h1{
	font-size:35px;
	padding:20px 0;
	transition:.5s;
}

#domain_design_card:hover {
    border: 1px solid var(--card_hover_border_color);
}

#info_div{
	display:grid;
	grid-template-columns: repeat(2,1fr);
	gap:20px;
	align-items: stretch;
}

.start_date_card,
.duration_card,
.fees_card,
.description_card{
	background-color: var(--navbar_bg_color);
    padding: 25px;
    border: 0.1px solid var(--gray_text);
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 10px 25px var(--card_shadow);
    width:100%;
    transition:.2s;
    
    word-wrap: break-word;       
    overflow-wrap: break-word;   
    word-break: break-all;       
    display: flex;
    flex-direction: column;
}

.start_date_card:hover, .duration_card:hover, .fees_card:hover, .description_card:hover {
    border-color: var(--card_hover_border_color);
}

.start_date_card h3,
.duration_card h3,
.fees_card h3,
.description_card h3{
	color: var(--gray_text);
    font-size: 19px;
    letter-spacing: .5px;
    margin-bottom:20px;
}

.start_date_card span,
.duration_card span,
.fees_card span,
.description_card span{
	font-weight:600;
	color: var(--white_text);
    font-size: 19px;
    letter-spacing: .5px;
    margin-bottom:20px;
}

@media (max-width : 768px){
	.main_domain_content {
        margin-left: 0 !important; 
        width: 100% !important;  
        padding: 15px;           
    }
    
    #info_div{
    	grid-template-columns: 1fr;
    	transition:.3s;
    }
    
    #domain_design_card h1{
    	font-size:30px;
    	transition:.5s;
    }
    
    .start_date_card,
	.duration_card,
	.fees_card,
	.description_card{
		width:100%;
	}
}